:root {
	--base-border-color: #000;
}

.input_error {
	color: #b00;
}

input.error {
	border-color: #b00;
	outline-color: #c00;
}

@media (prefers-color-scheme: dark) {
	html {
		background: #111;
		color: #fff;
	}

	a {
		color: #ccf;
	}

	a:visited {
		color: #dcf;
	}

	button {
		background: #222;
		color: #fff;
		border-color: #666;
		border-style: solid;
	}

	input {
		background: #111;
		color: #fff;
		border-color: #999;
		border-style: solid;

		&.error {
			border-color: #f55;
			outline-color: #f33;
		}
	}

	:root {
		--base-border-color: #eee;
	}

	.input_error {
		color: #f55;
	}
}

#user {
	position: absolute;
	top: 0;
	right: 0;

	> div {
		display: inline-block;
		vertical-align: top;
		margin: 2px;
	}
}

#register_user {
	button {
		margin-top: 5px;
	}
}

.register_username_error {
	margin: 0 3px;
}

#user_admin_menu_pages {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid var(--base-border-color);
}

#user_admin_menu {
	width: 200px;
	text-align: center;

	&:hover #user_admin_menu_pages {
		display: block;
	}
}

#admin_manage_events > table {
	margin-bottom: 5px;

	> tr {
		vertical-align: baseline;
	}
}

#admin_user_manage {
	border-collapse: collapse;
	margin-bottom: 5px;
	
	th, td {
		border: 1px solid #999;
		padding: 2px;
	}
}

.admin_user_admin_toggle {
	text-align: center;
}

#admin_group_manage {
	margin-bottom: 10px;
}

.admin_group {
	margin-bottom: 5px;
	padding-top: 2px;

	&:not(:first-child) {
		border-top: 1px solid var(--base-border-color);
	}
}

.admin_group_events {
	display: none;

	&.admin_group_events_active {
		display: block;
	}
}

.admin_group_events_grid {
	display: grid;
	grid-template-columns: max-content max-content max-content;
	gap: 1px;
	align-items: baseline;
	margin-bottom: 3px;

	> div {
		padding: 2px;
	}
}