// For contrast to be calculated correctly, the background colors must also be specified
// in the color_input_with_contrast component constants.
$light-background-color: #fff;
$dark-background-color: #111;
$light-foreground-color: #000;
$dark-foreground-color: #fff;

:root {
	--base-border-color: #000;
}

html {
	background: $light-background-color;
}

.input_error {
	color: #b00;
}

input.error {
	border-color: #b00;
	outline-color: #c00;
}

@media (prefers-color-scheme: dark) {
	html {
		background: $dark-background-color;
		color: $dark-foreground-color;
	}

	a {
		color: #ccf;
	}

	a:visited {
		color: #dcf;
	}

	button {
		background: #222;
		color: #fff;
		border-color: #666;
		border-style: solid;
	}

	input {
		background: #111;
		color: #fff;
		border-color: #999;
		border-style: solid;

		&.error {
			border-color: #f55;
			outline-color: #f33;
		}
	}

	:root {
		--base-border-color: #eee;
	}

	.input_error {
		color: #f55;
	}
}

#user {
	position: absolute;
	top: 0;
	right: 0;

	> div {
		display: inline-block;
		vertical-align: top;
		margin: 2px;
	}
}

#register_user {
	button {
		margin-top: 5px;
	}
}

.register_username_error {
	margin: 0 3px;
}

#user_admin_menu_pages {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid var(--base-border-color);
}

#user_admin_menu {
	width: 200px;
	text-align: center;

	&:hover #user_admin_menu_pages {
		display: block;
	}
}

.color_input_preview {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 2px;
	align-items: center;
}

.color_input_preview_light {
	background: $light-background-color;
	color: $light-foreground-color;
	font-weight: 700;
	padding: 3px;
}

.color_input_preview_dark {
	background: $dark-background-color;
	color: $dark-foreground-color;
	font-weight: 700;
	padding: 3px;
}

.color_input_preview_contrast_info {
	grid-column: span 2;
}

#admin_manage_events > table {
	margin-bottom: 5px;

	> tr {
		vertical-align: baseline;
	}
}

#admin_user_manage {
	border-collapse: collapse;
	margin-bottom: 5px;
	
	th, td {
		border: 1px solid #999;
		padding: 2px;
	}
}

.admin_user_admin_toggle {
	text-align: center;
}

#admin_group_manage {
	margin-bottom: 10px;
}

.admin_group {
	margin-bottom: 5px;
	padding-top: 2px;

	&:not(:first-child) {
		border-top: 1px solid var(--base-border-color);
	}
}

.admin_group_events {
	display: none;

	&.admin_group_events_active {
		display: block;
	}
}

.admin_group_events_grid {
	display: grid;
	grid-template-columns: max-content max-content max-content;
	gap: 1px;
	align-items: baseline;
	margin-bottom: 3px;

	> div {
		padding: 2px;
	}
}

#admin_assign_groups_list_for_user {
	margin: 7px 0;
	display: grid;
	grid-template-columns: 1fr min-content;
}

.admin_assign_group_row {
	display: contents;
}

.admin_assign_group_row:hover > div {
	background: #ddd;
}

@media (prefers-color-scheme: dark) {
	.admin_assign_group_row:hover > div {
		background: #333;
	}
}

#admin_assign_groups_add_to_user {
	margin-bottom: 20px;
}

#admin_event_type_list {
	display: flex;
	flex-direction: column;
	width: 250px;

	.admin_event_type {
		text-align: center;
	}
}

#admin_event_type_controls {
	margin-top: 10px;
}

#admin_event_type_event_selection {
	margin-bottom: 10px;
}

#admin_event_type_assignment > button {
	margin-top: 10px;
}

#admin_event_type_assignment_grid {
	display: grid;
	grid-template-columns: 200px max-content;

	.admin_event_type_assignment_row {
		display: contents;
	}

	.admin_event_type_assignment_available {
		margin: 0 10px;
	}
}

#register_user > div {
	margin-bottom: 5px;
}