#admin_assign_groups_list_for_user {
	margin: 7px 0;
	display: grid;
	grid-template-columns: max-content min-content;
	gap: 5px;
}

.admin_assign_group_row {
	display: contents;

	&:hover > div {
		background: #ddd;
	}
}

@media (prefers-color-scheme: dark) {
	.admin_assign_group_row:hover > div {
		background: #333;
	}
}

#admin_assign_groups_add_to_user {
	margin-bottom: 20px;
}