#admin_tabs_list {
	margin: 10px 0;
	display: grid;
	grid-template-columns: max-content max-content max-content max-content;
	align-items: baseline;
	gap: 2px;
}

.admin_tabs_tab {
	display: contents;
}

#admin_tabs_add_tab {
	display: grid;
	grid-template-columns: max-content max-content max-content;
	gap: 2px;
}