// © 2022-2024 Jacob Riddle (ElementalAlchemist)
//
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

#admin_tabs_list {
	margin: 10px 0;
	display: grid;
	grid-template-columns: max-content max-content max-content max-content;
	align-items: baseline;
	gap: 2px;
}

.admin_tabs_tab {
	display: contents;
}

#admin_tabs_add_tab {
	display: grid;
	grid-template-columns: max-content max-content max-content;
	gap: 2px;
}