// © 2022-2024 Jacob Riddle (ElementalAlchemist)
//
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

#admin_user_manage {
	display: grid;
	grid-template-columns: max-content max-content max-content max-content;
	gap: 5px;

	.admin_user_manage_row {
		display: contents;
	}

	.admin_user_admin_toggle {
		text-align: center;
	}
}