// © 2022-2024 Jacob Riddle (ElementalAlchemist)
//
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use "colors";

.color_input_preview {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 2px;
	align-items: center;
}

.color_input_preview_light {
	background: colors.$light-background;
	color: colors.$light-foreground;
	font-weight: 700;
	padding: 3px;
}

.color_input_preview_dark {
	background: colors.$dark-background;
	color: colors.$dark-foreground;
	font-weight: 700;
	padding: 3px;
}