// For contrast to be calculated correctly, the background colors must also be specified
// in the color utilities constants.
$light-background: #fff;
$dark-background: #111;
$light-foreground: #000;
$dark-foreground: #fff;