$event_log_column_count: 13;

#event_log_layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#event_log_header {
	flex-basis: max-content;
	display: flex;
	align-items: baseline;
}

#event_log_title {
	flex-basis: max-content;
	flex-grow: 1;
}

#event_log_jump {
	flex-basis: max-content;
}

#event_log {
	flex-grow: 1;
	overflow-y: auto;
}

#event_log_new_entry {
	flex-basis: max-content;
}

#event_log_data {
	display: grid;
	// Update $event_log_column_count to match the number of columns here
	grid-template-columns: max-content max-content max-content max-content 1fr 150px 150px 150px 20px 25px 25px max-content 200px;
	font-size: 12px;
	
	.event_log_entry_edit {
		margin-bottom: 10px;
		border-bottom: 1px solid var(--base-border-color);
	}

	.event_log_entry_typing_username {
		grid-column: 1 / span $event_log_column_count;
	}
}

.event_log_header {
	padding: 2px;
	font-weight: 700;
}

.event_log_section_header {
	grid-column: 1 / span $event_log_column_count;
	display: flex;
	align-items: center;
}

.event_log_section_header_name {
	flex-grow: 1;

	h2 {
		margin: 0;
	}
}

.event_log_section_collapse {
	font-size: 150%;
}

.event_log_entry_top_border {
	border-top: 1px solid var(--base-border-color);
	grid-column: 1 / span $event_log_column_count;
}

.event_log_entry {
	display: contents;
	
	> div {
		padding: 2px;
		background: inherit;

		&:not(:last-child) {
			border-right: 1px solid var(--base-border-color);
		}
	}

	&:hover {
		background: #eee;
	}

	&.event_log_entry_jump_highlight {
		background: #cfc;
	}
}

@media (prefers-color-scheme: dark) {
	.event_log_entry:hover {
		background: #222;
	}

	.event_log_entry.event_log_entry_jump_highlight {
		background: #141;
	}
}

.event_log_entry_children {
	padding-left: 20px;
	display: contents;
	
	&:not(:empty) {
		margin-top: 5px;
		margin-bottom: 20px;
	}
}

.log_entry_highlight {
	background: #ff0;

	&:hover {
		background: #ee0;
	}
}

@media (prefers-color-scheme: dark) {
	.log_entry_highlight {
		background: #330;

		&:hover {
			background: #440;
		}
	}
}

.log_entry_select_parent > img {
	width: 16px;
}

.log_entry_make_video > img {
	width: 16px;
}
	
.event_log_entry_typing_data {
	display: contents;
}

.event_log_entry_edit {
	grid-column: 1 / span $event_log_column_count;
}

.event_log_entry_edit div {
	padding: 2px;
}

.event_log_entry_edit_parent_child_indicator {
	width: 16px;
}

.event_log_entry_edit_parent_remove {
	width: 16px;
}

.event_log_entry_edit_basic_info {
	display: flex;
}

.event_log_entry_edit_start_time, .event_log_entry_edit_end_time {
	flex-basis: max-content;
	
	> input {
		width: 75px;
		margin: 1px;
	}
}

.event_log_entry_edit_type {
	flex-basis: min-content;
	
	> input {
		width: 100px;
		margin: 1px;
	}
}

.event_log_entry_edit_description {
	flex-basis: 200px;
	flex-grow: 1;
	
	> input {
		width: calc(100% - 10px);
	}
}

.event_log_entry_edit_media_link, .event_log_entry_edit_submitter_or_winner {
	flex-basis: 150px;
}

.event_log_entry_edit_tags_fields {
	display: inline-flex;

	> div {
		flex-basis: 80px;
		width: 80px;

		> input {
			width: 75px;
		}
	}
}

.event_log_entry_edit_misc_info {
	display: flex;
}

.event_log_entry_edit_make_video {
	flex-basis: max-content;
}

.event_log_entry_edit_notes_to_editor {
	flex-basis: min-content;
	
	> input {
		width: 200px;
	}
}

.event_log_entry_edit_editor {
	flex-basis: min-content;

	> input {
		width: 150px;
	}
}

.event_log_entry_edit_highlighted {
	flex-basis: max-content;
}

.event_log_entry_edit_sort_key {
	flex-basis: min-content;

	> input {
		width: 50px;
	}
}

.event_log_entry_edit_add_count {
	width: 50px;
}

.event_log_entry_edit_close {
	flex-grow: 1;
	text-align: right;
}

.event_log_entry_edit_new_tags_fields {
	display: grid;
	grid-template-columns: max-content 300px max-content;

	input {
		width: 290px;
	}
}

.event_log_entry_edit_new_tags_create {
	display: contents;
}

.event_log_entry_start_warning {
	color: var(--error-color);
}

#event_log_new_entry {
	border-top: 1px #666 solid;
	font-size: 14px;
}

#event_log_new_entry_typing {
	display: grid;
	grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
	gap: 8px;

	.event_log_entry_typing_username {
		grid-column: 1 / span $event_log_column_count;
	}
}

@media (prefers-color-scheme: dark) {
	#event_log_new_entry {
		border-top: 1px #aaa solid;
	}
}