@use "colors";

#user {
	position: absolute;
	top: 0;
	right: 0;

	> div {
		display: inline-block;
		vertical-align: top;
		margin: 2px;
	}
}

#user_menu, #user_event_menu_pages, #user_admin_menu_pages {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid var(--base-border-color);
	background: colors.$light-background;
}

@media (prefers-color-scheme: dark) {
	#user_menu, #user_event_menu_pages, #user_admin_menu_pages {
		background: colors.$dark-background;
	}
}

#user_greeting, #user_event_menu, #user_admin_menu {
	width: 200px;
	text-align: center;
	position: relative; // Required for z-index to work
	z-index: 1;

	&:hover .user_info_menu {
		display: block;
	}
}