@use "colors";

:root {
	--base-border-color: #000;
	--error-color: #b00;
	--error-outline-color: #c00;
	--error-background-color: #fbb;
}

html {
	background: colors.$light-background;
	font-family: sans-serif;
}

body {
	margin: 0;
}

.active_button_option {
	background: #36c;
	color: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--base-border-color: #eee;
		--error-color: #f55;
		--error-outline-color: #f33;
		--error-background-color: #600;
	}

	html {
		background: colors.$dark-background;
		color: colors.$dark-foreground;
	}

	a {
		color: #ccf;
	}

	a:visited {
		color: #dcf;
	}

	button {
		background: #222;
		color: #fff;
		border-color: #666;
		border-style: solid;
	}

	input {
		background: #111;
		color: #fff;
		border-color: #999;
		border-style: solid;
	}

	.active_button_option {
		background: #9af;
		color: #000;
	}
}

.input_error {
	color: var(--error-color);
}

input.error {
	border-color: var(--error-color);
	outline-color: var(--error-outline-color);
}

.click {
	cursor: pointer;
}

@import "user_menu";
@import "register";
@import "color_input";
@import "errors";

@import "admin/events";
@import "admin/users";
@import "admin/permission_groups";
@import "admin/entry_types";
@import "admin/tags";
@import "admin/editors";
@import "admin/sections";
@import "user_profile";
@import "event_log";
@import "event_log_entry_types";