@use "../colors";
$event_log_column_count: 13;
$event_log_editor_column_count: 17;

@mixin span-whole-width {
	grid-column: 1 / span $event_log_column_count;

	.event_log_data_editor & {
		grid-column: 1 / span $event_log_editor_column_count;
	}
}

#event_log_layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#event_log_header {
	flex-basis: max-content;
	display: flex;
	align-items: baseline;
}

#event_log_title {
	flex-basis: max-content;
	flex-grow: 1;
}

#event_log_view_settings {
	flex-basis: max-content;
}

.event_log_view_settings_filter_menu {
	position: relative;

	.event_log_view_settings_filter_dropdown {
		z-index: 2;
	}

	&:hover .event_log_view_settings_filter_dropdown {
		display: block;
	}
}

.event_log_view_settings_filter_dropdown {
	position: absolute;
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	background: colors.$light-background;
	border: 1px solid var(--base-border-color);
}

@media (prefers-color-scheme: dark) {
	.event_log_view_settings_filter_dropdown {
		background: colors.$dark-background;
	}
}

#event_log_tabs {
	display: flex;

	> div {
		border: 1px solid #000;
		border-bottom: none;
		padding: 3px;
	}
}

.event_log_tab_active {
	background: #ccc;
}

@media (prefers-color-scheme: dark) {
	#event_log_tabs > div {
		border-color: #fff;
	}

	.event_log_tab_active {
		background: #444;
	}
}

#event_log {
	flex-grow: 1;
	overflow-y: auto;
}

#event_log_new_entry {
	flex-basis: max-content;
}

#event_log_data {
	display: grid;
	// Update $event_log_column_count to match the number of columns here
	grid-template-columns:
		max-content
		max-content
		max-content
		max-content
		max-content
		minmax(150px, 1fr)
		minmax(min-content, 150px)
		minmax(min-content, 100px)
		minmax(min-content, 150px)
		max-content
		max-content
		20px
		minmax(min-content, 200px);
	font-size: 12px;
	margin-bottom: 800px;

	&.event_log_data_editor {
		grid-template-columns:
			max-content
			max-content
			max-content
			max-content
			max-content
			minmax(150px, 1fr)
			minmax(min-content, 150px)
			minmax(min-content, 100px)
			minmax(min-content, 150px)
			max-content
			max-content
			20px
			20px
			max-content
			minmax(min-content, 200px)
			max-content
			150px;
	}
	
	.event_log_entry_edit {
		margin-bottom: 10px;
		border-bottom: 1px solid var(--base-border-color);
	}
}

.event_log_header {
	padding: 2px;
	font-weight: 700;
	position: sticky;
	top: 0;
	background: colors.$light-background;
}

@media (prefers-color-scheme: dark) {
	.event_log_header {
		background: colors.$dark-background;
	}
}

#event_log_view_settings {
	font-size: 90%;
}

.event_log_entry_top_border {
	border-top: 1px solid var(--base-border-color);
	@include span-whole-width;
}

.event_log_entry {
	display: contents;
	
	> div {
		padding: 2px;
		background: inherit;

		&:not(:last-child) {
			border-right: 1px solid var(--base-border-color);
		}
	}

	&:hover {
		background: #eee;
	}

	&.event_log_entry_jump_highlight {
		background: #cfc;
	}

	&.event_log_entry_edit_highlight {
		background: #fc6;
	}
}

@media (prefers-color-scheme: dark) {
	.event_log_entry:hover {
		background: #222;
	}

	.event_log_entry {
		&.event_log_entry_jump_highlight {
			background: #141;
		}

		&.event_log_entry_edit_highlight {
			background: #850;
		}
	}
}

.event_log_entry_children {
	padding-left: 20px;
	display: contents;
	
	&:not(:empty) {
		margin-top: 5px;
		margin-bottom: 20px;
	}
}

.log_entry_highlight {
	background: #ff0;

	&:hover {
		background: #ee0;
	}
}

@media (prefers-color-scheme: dark) {
	.log_entry_highlight {
		background: #660;

		&:hover {
			background: #440;
		}
	}
}

.log_entry_end_highlight {
	background: #fa3;

	&:hover {
		background: #e93;
	}
}

@media (prefers-color-scheme: dark) {
	.log_entry_end_highlight {
		background: #530;

		&:hover {
			background: #420;
		}
	}
}

.log_entry_select_parent > img {
	width: 12px;
}

.log_entry_start_time {
	text-align: right;
}

.log_entry_end_time {
	text-align: right;
}

.log_entry_type {
	font-weight: 700;
}

.log_entry_submitter_winner {
	text-align: center;
}

.log_entry_tag:not(:last-child)::after {
	content: ", ";
}

.log_entry_poster_moment {
	text-align: center;

	&:not(:empty) {
		background-color: #ccf;
	}
}

@media (prefers-color-scheme: dark) {
	.log_entry_poster_moment:not(:empty) {
		background-color: #009;
	}
}

.log_entry_video_edit_state {
	align-self: stretch;
	display: flex;
	align-items: center;

	&.log_entry_video_edit_state_marked {
		background: #bdf;
	}

	&.log_entry_video_edit_state_edited {
		background: #cfc;
	}

	> span {
		text-align: center;
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	.log_entry_video_edit_state {
		&.log_entry_video_edit_state_marked {
			background: #048;
		}

		&.log_entry_video_edit_state_edited {
			background: #050;
		}
	}
}

.log_entry_editor_link img {
	width: 16px;
}

.log_entry_video_link img {
	width: 16px;
}

.log_entry_video_errors:not(:empty) {
	background: #f33;
}

@media (prefers-color-scheme: dark) {
	.log_entry_video_errors:not(:empty) {
		background: #c00;
	}
}

.event_log_entry_typing_header {
	@include span-whole-width;
	display: flex;
	gap: 4px;
}
	
.event_log_entry_typing_data {
	display: contents;
}

.event_log_entry_edit {
	@include span-whole-width;
}

.event_log_entry_edit > div > div {
	padding: 2px;
}

.event_log_entry_edit_editing_info {
	font-size: 125%;
	font-weight: 700;

	&.event_log_entry_edit_editing_info_existing {
		background: #fc6;
	}

	&.event_log_entry_edit_editing_info_new {
		background: #9f9;
	}
}

@media (prefers-color-scheme: dark) {
	.event_log_entry_edit_editing_info {
		&.event_log_entry_edit_editing_info_existing {
			background: #850;
		}

		&.event_log_entry_edit_editing_info_new {
			background: #060;
		}
	}
}

.event_log_entry_edit_parent_info {
	display: flex;
	align-items: flex-start;
}

.event_log_entry_edit_parent_child_indicator, .event_log_entry_edit_no_parent_indicator {
	width: 16px;
}

.event_log_entry_edit_parent_remove {
	width: 16px;
}

.event_log_entry_edit_basic_info {
	display: flex;
	align-items: center;
}

.event_log_entry_edit_start_time, .event_log_entry_edit_end_time {
	flex-basis: max-content;
	
	> input {
		width: 75px;
		margin: 1px;
	}
}

.event_log_entry_edit_type {
	flex-basis: min-content;
	
	> input {
		width: 150px;
		margin: 1px;
	}
}

.event_log_entry_edit_description {
	flex-basis: 200px;
	flex-grow: 1;
	
	> input {
		width: calc(100% - 10px);
	}
}

.event_log_entry_edit_submitter_or_winner {
	flex-basis: 150px;
}

.event_log_entry_edit_media_links_fields {
	display: inline-flex;

	> div {
		flex-basis: 200px;
		width: 200px;

		> input {
			width: calc(100% - 10px);
		}
	}
}

.event_log_entry_edit_tags_fields {
	display: inline-flex;

	> div {
		flex-basis: 125px;
		width: 125px;

		> input {
			width: calc(100% - 10px);
		}
	}
}

.event_log_entry_edit_misc_info {
	display: flex;
}

.event_log_entry_edit_video_edit_state {
	flex-basis: max-content;
}

.event_log_entry_edit_notes_to_editor {
	flex-basis: min-content;
	
	> input {
		width: 200px;
	}
}

.event_log_entry_edit_editor {
	flex-basis: min-content;

	> input {
		width: 150px;
	}
}

.event_log_entry_edit_incomplete {
	flex-basis: max-content;
}

.event_log_entry_edit_sort_key {
	flex-basis: min-content;

	> input {
		width: 50px;
	}
}

.event_log_entry_edit_add_count {
	width: 50px;
}

.event_log_entry_edit_new_tags_fields {
	display: grid;
	grid-template-columns: max-content 300px max-content;

	input {
		width: 290px;
	}
}

.event_log_entry_edit_new_tags_create {
	display: contents;
}

.event_log_entry_edit_close {
	display: flex;
	align-items: baseline;
	gap: 10px;
}

.event_log_entry_edit_start_warning {
	color: var(--error-color);
	flex-basis: max-content;
	width: max-content;
}

.event_log_entry_edit_tab_warning {
	background: #ff3;
}

@media (prefers-color-scheme: dark) {
	.event_log_entry_edit_tab_warning {
		background: #660;
	}
}

.event_log_entry_edit_delete {
	flex-basis: max-content;
	flex-grow: 1;
	color: var(--error-color);

	> button {
		margin-left: 4px;
	}
}

#event_log_new_entry {
	border-top: 1px #666 solid;
	font-size: 14px;
}

@media (prefers-color-scheme: dark) {
	#event_log_new_entry {
		border-top: 1px #aaa solid;
	}
}

#event_log_new_entry_typing {
	display: grid;
	grid-template-columns:
		max-content
		max-content
		max-content
		max-content
		max-content
		1fr
		repeat($event_log_column_count - 6, max-content);
	gap: 8px;

	&.event_log_new_entry_typing_editor {
		grid-template-columns:
			max-content
			max-content
			max-content
			max-content
			max-content
			1fr
			repeat($event_log_editor_column_count - 6, max-content);
	}
}

.event_log_entry_typing_username {
	@include span-whole-width;
}